.border-dashed {
  border: 1px dashed red;
}

#header {
  background-color: #2c3e50;
}

.section-green {
  background-color: #1abc9c;
}

.immagine {
  /* debug */
  width: 300px;
}

.star-icon {
  position: relative;
}

.star-icon::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: black;
  border-radius: 25px;
  left: 50px;
  top: 50%;
}

.star-icon::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: black;
  border-radius: 25px;
  right: 50px;
  top: 50%;
}

.section-green .star-icon::before {
  background-color: white;
}

.section-green .star-icon::after {
  background-color: white;
}

#footer-top {
  background-color: #45526b;
}

#footer-bottom {
  background-color: #333c4f;
}
